{% extends "basic.html" %}
{% load static %}
{% load i18n %}

<!--CSS-->
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
<link rel="stylesheet" type="text/css" href="{% static '/css/domainStyle.css' %}">
{% endblock %}

<!--Body-->
{% block body %}
    <!--Sidebar-->
    {% include "includes/sidebar.html" %}

    <div class="container-fluid p-0 bg-body">

        <!--Navbar-->
        {% include "includes/navbar.html" %}

        <!--Main-->
        <div class="main" id="body-main">
            <div class="container-fluid mt-5 px-4">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-row align-items-center">
                            <h3 class="p-1" style="margin-top: 10px;">{% trans "Domains" %}</h3>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-xl-8 col-md-12 col-12 mt-3">
                        <div class="card border-0 shadow-sm p-2 mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-9">
                                        <div class="row">
                                            <div class="col-9">
                                                <input type="text" class="form-control form-control-lg" id="SearchValue" placeholder='{% trans "Search your domain name" %}'>
                                            </div>
                                            
                                            <div class="col-3">
                                                <div id="autocomplete" class="autocomplete">
                                                    <input class="autocomplete-input" id="tls" placeholder="com" />
                                                    <ul class="autocomplete-result-list"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="d-flex justify-content-end">
                                            <button id="SerachDomain" style="width:100%;" type="button" class="btn btn-primary btn-block btn-lg">{% trans "Search Domain" %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="domainContainer">

                        </div>

                    </div>

                    <div class="col-xl-4 col-md-12 col-12 mt-3">
                        <div class="card border-0 shadow-sm p-2">
                            <div class="card-header bg-white">
                                <h5>{% trans 'Your Shopping Cart' %}</h5>
                            </div>
                            <div class="card-body">

                                <div id="ShoppingTrash">

                                    <div class="shopping-card d-flex w-100">
                                        <div class="domain-icon d-flex align-items-center">
                                            <i class="fa-solid fa-globe"></i>
                                        </div>
                                        <div class="domain-card d-flex flex-column w-100 mx-3">
                                            <span><h5>testmart.at</h5></span>
                                            <span><small>.AT Domain Registration</small></span>
                                            <span><small>1 Year</small></span>
                                            <div class="price d-flex justify-content-between w-100 align-items-center">
                                                <small>Renews November 2024 for</small>
                                                <span class="price_normal">€16.99</span>
                                                <span><i class="fa-solid fa-trash-can trash-domain" data-trash-domain="1"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="d-grid gap-2 mt-3 chackout-btn">
                                    <a id="OpenShopping" href="{% url 'domain:checkout_list' %}" class="btn btn-primary btn-lg d-flex align-self-center" type="button">
                                        <span class="flex-grow-1">Looks Good, Keep Going</span>
                                        <i class="fa-solid fa-arrow-right mr-auto align-self-center"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

                <!--
                    Domain Siedbar:
                    Die Domain wird ausgwählt gleich Zeitig wird der Preis geholt und noch mal gepüft ob man die Domain Kaufen kann.
                    Dann wird die Abfrage gemacht und Zum verkauf weitergelitet.

                    Rechtlichen Vereinbarung
                    https://api.ote-godaddy.com/v1/domains/agreements?tlds=string&privacy=false

                    Preis Abfrage
                    https://api.ote-godaddy.com/v1/domains/available?domain=ben.com&checkType=FAST&forTransfer=false

                    
                    Stripe Kauf abwicklung
                    

                    Kauf und eintag bei Server
                    https://api.ote-godaddy.com/v1/domains/purchase


                        <div class="d-flex align-items-center flex-column">
                            <img id="waitImage" style="width:50px" class="mt-3" src="{% static '/gif/load-38_256.gif' %}">
                            <h4 id="domainText">Please be patient for a moment as we are currently looking for a domain for you.</h4>
                        </div>

                -->

            </div>
        </div>


    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleOpenShopping" tabindex="-1" aria-labelledby="exampleOpenShoppingLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleOpenShoppingLabel">{% trans "Check personal data" %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger" role="alert">
                    {% trans "The password is incorrect" %}
                </div>

                <form id="contact-form" class="p-3 mt-3 mb-0">
                    <div class="row mb-3">
                        <div class="col-12 col-md-12">
                            <label for="exampleemail_name" class="form-label">{% trans "Email Adress" %}</label>
                            <input type="text" class="form-control field-shop" id="email">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <label for="examplefirstname" class="form-label">{% trans "First Name" %}</label>
                            <input type="text" class="form-control field-shop" id="firstname">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="examplelastname" class="form-label">{% trans "Last Name" %}</label>
                            <input type="text" class="form-control field-shop" id="lastname">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="exampleadress" class="form-label">{% trans "Adress" %}</label>
                            <input type="text" class="form-control field-shop" id="address">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <label for="examplezip" class="form-label">{% trans "Zip code" %}</label>
                            <input type="text" class="form-control" id="zip_code">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="examplecity" class="form-label">{% trans "City" %}</label>
                            <input type="text" class="form-control field-shop" id="city">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-12">
                            <label for="examplePasswort" class="form-label" aria-describedby="passwortHelp">{% trans "Your current password" %}</label>
                            <input type="password" name="password" class="form-control border border-primary field-shop" id="passwort">
                            <div id="passwortHelp" class="form-text">Please confirm your data with your password.</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder='{% trans "Check sales tax" %}' aria-label='{% trans "Check sales tax" %}' aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">{% trans "Check" %}</button>
                        </div>
                    </div>

                    <!-- <div class="mt-3">
                        <span class="legal">{% trans "Legal Agreements" %}</span>
                    </div> disabled  -->
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button data-wishlist-id="" id="FormSubmit" type="submit" class="btn btn-primary">{% trans "Send" %}</button> 
                </div>
            </form>
          </div>
        </div>
      </div>



    <input type="hidden" id="SearchDomainView" value="{% url 'domain:doamin_search' %}">
    <input type="hidden" id="AddWishlistView" value="{% url 'domain:add_wishlist' %}">
    <input type="hidden" id="CrateSubaccountAndShoppingCard" value="{% url 'domain:check_user' %}">


{% endblock body %}

<!--Javasript-->
{% block javasript %}

<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<script defer src="{% static '/js/domainJs.bundle.js' %}"></script>

{% endblock %}
