/node_modules/
../.env
../env
.env
db.sqlite3
env/
requirements.txt
_____xdb.sqlite3
# Datenbankdatei
db.sqlite3


__pycache__/

geotargeting __pycache__
contentpages __pycache__
analytics __pycache__
accounts __pycache__
linkinbio __pycache__
products __pycache__
shortcode __pycache__
webclicktracker __pycache__