{% extends "basic.html" %}
{% load static %}
{% load i18n %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static '/assets/css/accounts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/assets/css/analytics.css' %}">

    <!--Sidebar-->
    {% include "includes/sidebar.html" %}

    <div class="container-fluid p-0 bg-body">
        
        <!--Navbar-->
        {% include "includes/navbar.html" %}

        <!--Main-->
        <div id="body-main" class="main">

            <div class="container-fluid mt-5 px-4">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-row align-items-center">
                            <h3 class="p-1" style="margin-top: 10px;">{% trans "Dashboard" %}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid mt-5">
                <div class="row px-2">
                    <div class="car-12 col-6">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <div class="row p-2">
                                    <div class="col-12 col-md-5">
                                        <img src="{% static 'images/influencer.webp' %}" class="img-fluid">
                                    </div>
                                    <div class="col-12 col-md-7">
                                        <h5>{% trans "Every click tells a story" %}</h5>
                                        <p>{% trans "Make it short" %}</p>
                                        <a href="{% url 'shortcode:shortcode_list_view' %}" type="button" class="btn btn-primary btn-sm">{% trans "Go to Links" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="car-12 col-6">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <div class="row p-2">
                                    <div class="col-12 col-md-5">
                                        <img src="{% static 'images/agenturen.webp' %}" class="img-fluid">
                                    </div>
                                    <div class="col-12 col-md-7">
                                        <h5>{% trans "Organize your links." %}</h5>
                                        <p>{% trans "Make a page" %}</p>
                                        <a href="{% url 'linkinbio:linkinbio_view_list' %}" type="button" class="btn btn-primary btn-sm">{% trans "Go to page" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row px-2 mt-3">
                    <div class="col-12">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                              <div class="row p-2">
                                <div class="col-12 col-md-5">
                                    <img class="img-fluid" src="{% static 'images/Geo-Targeting.webp' %}">
                                </div>
                                <div class="col-12 col-md-7 p-5">
                                    <h5>{% trans "Gain comprehensive insights: Consolidate your click and scan data into one dashboard" %}</h5>
                                    <p class="mt-3">{% trans "Get a holistic overview: Centralize your click and scan analytics in one dashboard." %}</p>
                                    <a href="{% url 'products:product_list' %}" type="button" class="btn btn-primary btn-sm mt-auto">{% trans "Go to page" %}</a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javasript %}{% endblock %}

