/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/css/main.scss ***!
  \***************************************************************************************************************/
/*Sidebar Form*/
/* Navbar Mobile */
.mobile-open-div {
  padding: 10px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #f4f6fa; }
  .mobile-open-div .fa-icon-close {
    font-size: 1.2rem;
    color: #1f2226;
    transition: color 0.3s ease-in-out; }

.body-mobile {
  overflow-y: hidden;
  overflow-x: hidden; }

.navbar-mobile-menu {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 0;
  height: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  visibility: hidden;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; }
  .navbar-mobile-menu .close-div-menu {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 10px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #f4f6fa;
    transition: color 0.3s ease-in-out; }
  .navbar-mobile-menu .fa-icon-close {
    font-size: 1.2rem;
    color: #1f2226;
    transition: color 0.3s ease-in-out; }
  .navbar-mobile-menu ul {
    margin-top: 3rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: .8rem; }
    .navbar-mobile-menu ul li {
      margin: .5rem;
      padding: .9rem;
      display: flex;
      gap: 11px;
      align-items: center;
      border-radius: 1rem;
      background-color: #f4f6fa; }
      .navbar-mobile-menu ul li a {
        font-size: 1rem;
        font-weight: 700;
        color: #1f2226;
        transition: color 0.3s ease-in-out; }
      .navbar-mobile-menu ul li .fa-icons {
        font-size: 1.2rem;
        color: #1f2226;
        transition: color 0.3s ease-in-out; }
      .navbar-mobile-menu ul li:hover a {
        color: #0c3ebb; }
      .navbar-mobile-menu ul li:hover .fa-icons {
        color: #0c3ebb; }

.navbar-mobile-menu.toggle {
  visibility: visible;
  opacity: 1;
  height: 100vh;
  width: 100%;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; }

