{% extends "blank.html" %}
{% load static %}
{% load i18n %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5">

            <div class="card border-0 rounded-lg mt-0 mb-3 bg-white">
                <div class="card-header justify-content-center bg-white border-0">
                    <h3 class="font-weight-light my-4 text-center">{% trans "Account is activated" %}</h3>
                </div>

                <div class="card-body text-center">
                    <p>{% trans "Congratulations! Your account has been activated." %}</p>
                    <p>{% trans "You can log in now." %}</p>
                    <a href="{% url 'login' %}">{% trans "Register" %}</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock body %}