{% extends "blank.html" %}
{% load static %}
{% load i18n %}


{% block body %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                </div>
            </div>
        </div>
     </div>

     <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <div class="card border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header bg-white border-0">
                      <h3 class="font-weight-light my-1 text-center">{% trans "Reset password was successful." %}</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            <p>{% trans "We have emailed you instructions on how to set your password." %}</p>
                            <hr>
                            <p class="mb-0">{% trans "If an account exists with the email address you entered. You should receive them shortly." %}
                                {% trans "If you do not receive an email, please make sure you have entered the address you registered with and check your spam folder." %}</p>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-white border-0">
                        <div class="small">
                            <a href="{% url 'login' %}">{% trans "Go to registration" %}</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock body %}