{% extends "blank.html" %}
{% load static %}
{% load i18n %}


{% block body %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                </div>
            </div>
        </div>
     </div>

     <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5">
                <div class="card border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header bg-white border-0">
                      <h3 class="font-weight-light my-1 text-center">{% trans 'Passwort zurücksetzen war erfolgreich.' %}</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            <p>{% trans 'Wir haben Ihnen per E-Mail Anweisungen zum Festlegen Ihres Passworts zugesandt.' %}</p>
                            <hr>
                            <p class="mb-0">{% trans 'Wenn ein Konto mit der von Ihnen eingegebenen E-Mail-Adresse vorhanden ist. Sie sollten sie in Kürze erhalten.' %}
                                {% trans 'Wenn Sie keine E-Mail erhalten, stellen Sie bitte sicher, dass Sie die Adresse eingegeben haben, mit der Sie sich registriert haben, und überprüfen Sie Ihren Spam-Ordner.' %}</p>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-white border-0">
                        <div class="small">
                            <a href="{% url 'login' %}">{% trans 'Gehen Sie zur Anmeldung' %}</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock body %}