{% extends "blank.html" %}
{% load static %}
{% load i18n %}

{% block body %}

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="card border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center bg-white border-0">
                            <div id="error_div"></div>
                          <h3 class="font-weight-light my-4 text-center">{% trans "Passwort vergessen?" %}</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                      <label class="small mb-1" for="id_email">{% trans "E-Mail-Adresse" %}</label>
                                        <input type="email" name="email"  class="form-control"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder='{% trans "E-Mail" %}'>
                                    </div>
                                </div>
                            </div>
                                <div class="form-row">
                                  <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1 mt-3">
                                        <button type="submit" class="col-md-12 btn btn-primary">
                                            {% trans "Senden" %}
                                        </button>
                                    </div>
                                 </div>
                               </div>
                            </form>
                        </div>
                        <div class="card-footer text-center bg-white border-0">
                            <div class="small">
                                <a href="{% url 'users-register' %}">{% trans "Ein neues Konto erstellen" %}</a><br>
                                <a href="{% url 'login' %}">{% trans "Zurück zur Anmeldung" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock body %}