{% extends "blank.html" %}
{% load static %}
{% load i18n %}

{% block body %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5">
                {% if validlink %}
                    <div class="card border-0 rounded-lg mt-0 mb-3 bg-white">
                        <div class="card-header justify-content-center bg-white border-0">
                          <h3 class="font-weight-light my-4 text-center">{% trans 'Setze dein Passwort zurück' %}</h3>
                        </div>

                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1 mt-3">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_new_password1">{% trans 'Neues Passwort' %}</label>
                                            <input type="password" name="new_password1" autocomplete="new-password"
                                                   class="form-control" required id="id_new_password1"
                                                   placeholder="{% trans 'Neues Passwort' %}"/>
                                            <span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1 mt-3">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_new_password2">{% trans 'Neues Passwort bestätigen' %}</label>
                                            <input type="password" name="new_password2" autocomplete="new-password"
                                                   required id="id_new_password2" class="form-control"
                                                   placeholder="{% trans 'Neues Passwort bestätigen' %}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1 mt-3">
                                        <div class="form-group mt-0 mb-1">
                                            <button type="submit" class="col-md-12 btn btn-primary" id="reset">{% trans 'Passwort zurücksetzen' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                <div class="alert alert-warning">
                    {% trans 'Der Link zum Zurücksetzen des Passworts war ungültig, möglicherweise weil er bereits verwendet wurde.' %}
                    {% trans 'Bitte fordern Sie einen neuen Passwort-Reset an.' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock body %}