{% extends "blank.html" %}
{% load static %}
{% load i18n %}


{% if messages %}
  <div class="alert alert-dismissible" role="alert">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

{% block body %}

        <div class="container">
            <div class="row justify-content-center align-items-center mt-5">
                <div class="col-12 col-md-5">
                    <div class="card border-0 rounded-lg mt-0 mb-5">
                        <div class="card-header justify-content-center bg-white border-0">
                            <h3 class="font-weight-light my-4 text-center">{% trans "Benutzerkonto erstellen" %}</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1 mt-3">
                                        <div class="form-group">
                                            <label class="small mb-1">{% trans "E-Mail-Adresse" %}</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1 mt-3">
                                        <div class="form-group">
                                            <label class="small mb-1">{% trans "Passwort" %}</label>
                                            {{ form.password1 }}
                                            {{ form.errors.password }}
                                        </div>
                                    </div>
                                    <div class="col-md-10 offset-md-1 mt-3">

                                        <div class="form-group">
                                            <label class="small mb-1">{% trans "Passwort bestätigen" %}</label>
                                            {{ form.password2 }}
                                        </div>
                                    </div>
                                    <div class="form-group mt-4 mb-0 mt-3">
                                        <div class="col-md-10 offset-md-1">
                                            <button type="submit" class="col-md-12 btn btn-primary">{% trans "Konto erstellen" %}</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer text-center bg-white border-0">
                            <div class="small">
                                <a href="{% url 'login' %}">{% trans "Sie haben doch ein Konto? Gehen Sie zur Anmeldung" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock body %}