{% load custom_tags %}
{% load i18n %}

<nav id="navbar-main" class="navbar navbar-expand bd-header bg-white" aria-label="Second navbar example">
    <div class="container-fluid">

        <div class="mobile-open-div">
            <i id="navbar-mobile-open" class="fa-solid fa-bars fa-icon-close"></i>
        </div>

        <div class="collapse navbar-collapse order-1 pl-2" id="navbarsExample02">
            <ul class="navbar-nav me-auto"></ul> 
    
            <div class="dropdown user-menu">
                <button class="btn btn-secondary dropdown-toggle dp-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="button-circle"> {% first_character user.email %} </div>
                <div class="butto-name">{{ user.email }}</div>
                </button>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start border-0">
                    <li><a class="dropdown-item" href="{% url 'user-profile' user.id %}">{% trans "User profile" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">{% trans "Log out" %}</a></li>

                    {% if user|is_free_user %}
                        <li><a class="dropdown-item" href="#">{% trans "Free User" %}</a></li>
                    {% endif %}

                </ul>
            </div>
    
        </div>

    </div>
</nav>

<nav id="navbar-mobile" class="d-none">

    <div id="close-navbar-mobile" class="close-div-menu">
        <i class="fa-solid fa-xmark fa-icon-close"></i>
    </div>

    <ul>
        <li>
            <i class="fa-solid fa-gauge fa-icons"></i>
            <a href="{% url 'analytics:analytics-view' %}" class="nav-link {% if '/analytics/' == request.get_full_path %} active {% endif %}">
                {% trans "Dashboard" %}
            </a>
        </li>
        <li>
            <i class="fa-solid fa-link fa-icons"></i>
            <a href="{% url 'shortcode:shortcode_list_view' %}" class="link-nav link-links nav-link {% if '/shortcode/list/' == request.get_full_path %} active {% endif %}">
                Links
            </a>
        </li>
        <li>
            <i class="fa-regular fa-id-badge fa-icons"></i>
            <a href="{% url 'linkinbio:linkinbio_view_list' %}" class="nav-link {% if '/linkinbio/' == request.get_full_path %} active {% endif %}">
                LinkIn Bio
            </a>
        </li>
        <li>
            <i class="fa-regular fa-file fa-icons"></i>
            <a href="{% url 'webclicktracker:click_view' %}" class="nav-link {% if '/webclicktracker/' == request.get_full_path %} active {% endif %}">
                Websiten Trecker
            </a>
        </li>
    </ul>
</nav>